# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
mlops/

# MLflow
mlruns/

# Model artifacts
*.pkl
*.joblib
*.onnx

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db